.add-campus-page::before {    
    content: "";
    background-image: url(../hallway-with-bag-floor.jpg);
    height:120vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: -5;
}

#header-add-campus{
    position:relative;
    top: 20px;
    text-shadow: 1px 2px 2px var(--beaver);
    margin: 50px;
    font-size: 3rem;
    z-index: -3;
}

.input-container-add-campus{
    display: inline-block;
    margin: 5px;
    z-index: -3;
}

.input-multiline-container-add-campus{
    display: inline-block;
    margin: -35px 5px 5px 5px;
    z-index: -3;
}

#btn-form-add-campus {
    background-image: linear-gradient(rgb(177, 96, 96), var(--burnt-umber),rgb(177, 96, 96));
    color: var(--buff);
    border: rgba(196, 97, 97, 0.296) 3px solid;
    box-shadow:4px 4px 4px black;
    text-shadow: 1px 2px 2px black;
    font-size: 15px;
    font-family: 'Helvetica Neue';
    font-weight: 700;
    width: 100px;
    height: 123px;
    position: relative;
    top: 52px;
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transition: 500ms ease-in-out;
}

#btn-return-add-campus{
    background-image: linear-gradient(rgb(177, 96, 96), var(--burnt-umber),rgb(177, 96, 96));
    color: var(--bone);
    border: rgba(196, 97, 97, 0.296) 3px solid;
    box-shadow:2px 2px 2px black;
    text-shadow: 1px 2px 2px black;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transition: 500ms ease-in-out;
    position: relative;
    margin-top: 10px;
    width: 40%;
}

#btn-add-campus{
    background-image: linear-gradient(rgb(94, 194, 149), var(--sea-green), rgb(94, 194, 149));
    color: var(--bone);
    border: rgba(196, 97, 97, 0.296) 3px solid;
    box-shadow: 2px 2px 2px var(--darmouth-green);
    text-shadow: 1px 2px 2px black;
    position: relative;
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transition: 500ms ease-in-out;
    position: relative;
    margin-top: 10px;
    width: 40%;
}

#btn-return-add-campus:hover{
    background-image: linear-gradient(rgb(242, 136, 136), var(--burnt-umber), rgb(242, 136, 136));
    box-shadow: 3px 3px 3px var(--darmouth-green);
    transition: 400ms ease-in-out;
}

#btn-add-campus:hover {
    box-shadow: 3px 3px 3px var(--darmouth-green);
    transition: 400ms ease-in-out;
    background-image: linear-gradient(rgb(123, 255, 196), var(--sea-green), rgb(123, 255, 196));
}

#form-input-add-campus{
    width: 12em;
}

#form-input-multiline-add-campus{
    width: 18em;
    position: relative;
}

#campus-form{
    display: flex !important;
    justify-content: 'center' !important;
}

@keyframes slide {
    0% {
        right: -100px;
    }

    100% {
        right: 0;
    }
}