#header-add-campus{
    position:relative;
    top: 20px;
    text-shadow: 1px 2px 2px var(--beaver);
    margin: 50px;
    font-size: 3rem;
    z-index: -3;
}

.input-container-add-campus{
    display: inline-block;
    margin: 5px;
    z-index: -3;
}

.input-multiline-container-add-campus{
    display: inline-block;
    margin: -35px 5px 5px 5px;
    z-index: -3;
}

#btn-form-add-campus {
    background-image: linear-gradient(rgb(177, 96, 96), var(--burnt-umber),rgb(177, 96, 96));
    color: var(--bone);
    border: rgba(196, 97, 97, 0.296) 3px solid;
    box-shadow:4px 4px 4px black;
    text-shadow: 1px 2px 2px black;
    font-size: 15px;
    font-family: 'Helvetica Neue';
    font-weight: 700;
    width: 100px;
    height: 123px;
    position: relative;
    top: 52px;
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transition: 500ms ease-in-out;
}

#btn-form-add-campus:hover{
    background-image: linear-gradient(rgb(242, 136, 136), var(--burnt-umber), rgb(242, 136, 136));
    transition: 400ms ease-in-out;
}

#btn-return-add-campus{
    background-image: linear-gradient(rgb(177, 96, 96), var(--burnt-umber),rgb(177, 96, 96));
    color: var(--bone);
    border: rgba(196, 97, 97, 0.296) 3px solid;
    box-shadow:2px 2px 2px black;
    text-shadow: 1px 2px 2px black;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transition: 500ms ease-in-out;
    position: relative;
    margin-top: 12px;
    width: 40%;
}

#btn-add-campus{
    background-image: linear-gradient(rgb(94, 194, 149), var(--sea-green), rgb(94, 194, 149));
    color: var(--bone);
    border: rgba(13, 81, 38, 0.296) 3px solid;
    box-shadow: 2px 2px 2px var(--darmouth-green);
    text-shadow: 1px 2px 2px black;
    position: relative;
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transition: 500ms ease-in-out;
    position: relative;
    margin-top: 12px;
    width: 40%;
}

#btn-return-add-campus:hover{
    background-image: linear-gradient(rgb(242, 136, 136), var(--burnt-umber), rgb(242, 136, 136));
    transition: 400ms ease-in-out;

}

#btn-add-campus:hover {
    transition: 400ms ease-in-out;
    background-image: linear-gradient(rgb(123, 255, 196), var(--sea-green), rgb(123, 255, 196));
}

#form-input-add-campus{
    width: 11em;
}

#form-input-multiline-add-campus{
    width: 18em;
    position: relative;
}

#campus-form{
    display: flex !important;
    justify-content: 'center' !important;
}

@keyframes slide {
    0% {
        right: -800px;
    }

    100% {
        right: 0;
    }
}

/****EDIT CAMPUS ******/

.input-container-edit-campus{
    display:inline-block;
    margin: 7px;
}

.form-input-edit-campus{
    display: inline-block;
    width: 250px;
}

.form-input-edit-campus-long{
    display: inline-block;
    width: 515px;
}

.form-input-multiline-edit-campus{
    display: inline-block;
    width: 515px;
}

.input-multiline-container-edit-campus{
    margin: 4px 5px;
}

.btn-form-edit-campus:hover{
    background-image: linear-gradient(rgb(242, 136, 136), var(--burnt-umber), rgb(242, 136, 136));
    transition: 400ms ease-in-out;
}

.btn-form-edit-campus {
    background-image: linear-gradient(rgb(177, 96, 96), var(--burnt-umber),rgb(177, 96, 96));
    color: var(--bone);
    border: rgba(196, 97, 97, 0.296) 3px solid;
    box-shadow: 4px 4px 4px black;
    text-shadow: 1px 2px 2px black;
    font-size: 15px;
    font-family: 'Helvetica Neue';
    font-weight: 700;
    width: 380px;
    height: 40px;
    position: relative;
    top: 20px;
}

.btn-back-form-edit-campus{
    background-image: linear-gradient(rgb(177, 96, 96), var(--burnt-umber),rgb(177, 96, 96));
    color: var(--bone);
    border: rgba(196, 97, 97, 0.296) 3px solid;
    box-shadow:2px 2px 2px black;
    text-shadow: 1px 2px 2px black;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    transition: 500ms ease-in-out;
    position: relative;
    top: 20px;
    height: 40px;
    width: 120px;
}    

.btn-back-form-edit-campus:hover{
    background-image: linear-gradient(rgb(242, 136, 136), var(--burnt-umber), rgb(242, 136, 136));
    transition: 400ms ease-in-out;

}

.edit-form-buttons-container{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

@media only screen and (max-width: 528px) {

    .input-container-edit-campus{
        display: block;
        margin-bottom: 0;
    }

    .form-input-edit-campus {
      width: 90%;
    }

    .form-input-edit-campus-long {
        width: 90%;
        position: relative;
        bottom: 21px;
      }

    .form-input-multiline-edit-campus{
        width: 90%;
        position: relative;
        bottom: 10px;
    }

    .input-multiline-container-edit-campus{
        margin: 0px 5px;
        position: relative;
        bottom: 15px;
    }

    .edit-form-buttons-container{
        position: relative;
        left: 23px;
        bottom: 10px;
        width: 90%;
    }

    .btn-back-form-edit-campus{
        width: 30%;
    }

    .btn-form-edit-campus{
        width: 65%;
    }



  }

