/* .MuiInputBase-input  {
    background: rgb(75, 75, 20);
  } */
  /* .MuiTextField-root {
    background: var(--beaver);
    border-color: green;
  } */

.add-student-page::before {    
    content: "";
    background-image: url(../hallway-with-bag-floor.jpg);
    height:120vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: -1;
}

#header{
    position:relative;
    top: 20px;
    text-shadow: 1px 2px 2px var(--beaver);
    margin: 50px;
    font-size: 3rem;
}

.input-container{
    display: inline-block;
    margin: 5px;
}

#btn-form {
    background-image: linear-gradient(rgb(177, 96, 96), var(--burnt-umber),rgb(177, 96, 96));
    color: var(--buff);
    border: rgba(196, 97, 97, 0.296) 3px solid;
    box-shadow:4px 4px 4px black;
    text-shadow: 1px 2px 2px black;
    font-size: 15px;
    font-family: 'Helvetica Neue';
    font-weight: 700;
    width: 150px;
    position: relative;
    top: 10px;
    animation-name: slide;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transition: 500ms ease-in-out;
}

#btn-form:hover{
    box-shadow: 6px 6px 6px rgb(59, 58, 58);
    transition: 400ms ease-in-out;
}

#btn-return{
    background-image: linear-gradient(rgb(177, 96, 96), var(--burnt-umber), rgb(177, 96, 96));
        color: var(--buff);
        border: rgba(196, 97, 97, 0.296) 3px solid;
        box-shadow: 4px 4px 4px black;
        text-shadow: 1px 2px 2px black;
        font-size: 15px;
        font-family: 'Helvetica Neue';
        font-weight: 700;
        width: 300px;
        height: 55px;
        position: relative;
        animation-name: slide;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        transition: 500ms ease-in-out;
        position: relative;
}

#btn-return:hover{
    box-shadow: 6px 6px 6px rgb(59, 58, 58);
    transition: 400ms ease-in-out;
}

#form-input{
    width: 12em;
}

@keyframes slide {
    0% {
        right: -100px;
    }

    100% {
        right: 0;
    }
}