
.home {
    background-image: url(../hallway-with-bag-floor.jpg);
    height:100vh;
    background-size: cover;
    background-position: center;
}

/* .home-mobile{
    background-image: url(../hallway-with-bag-floor.jpg);
    height: 50vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} */