
.home {
    background-image: url(../hallway-with-bag-floor.jpg);
    height:100vh;
    background-size: cover;
    background-position: center;
}

.button-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-content .button-text {
    margin-bottom: 10px;
}

.button-content .button-image {
    margin-top: 10px;
}
/* .home-mobile{
    background-image: url(../hallway-with-bag-floor.jpg);
    height: 50vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} */