*{
    --garnet: #7E3035ff;
    --liver: #62443Aff;
    --buff: rgb(231, 176, 143);
    --burnt-umber: rgb(127, 47, 42);
    --beaver: rgb(150, 124, 105);
    --nyanza: #d8f3dcff;
    --celadon: #b7e4c7ff;
    --celadon-2: #95d5b2;
    --mint: #74c69dff;
    --mint-2: #52b788ff;
    --sea-green: #40916cff;
    --dartmouth-green: rgb(45, 106, 79);
    --brunswick-green: rgb(27, 67, 50);
    --dark-green: rgb(34, 43, 40);
    --princeton-orange: #ff9100ff;
    --desert-sand: rgb(217, 192, 172);
    --dark-brown: rgb(66, 55, 52);
    --bone: #DEDAC7ff;
    --dun: rgb(196, 189, 173);
    --champagne-pink: #EDDFD4ff;
}

#navbar{
    display: flex;
    margin: 0 auto;
    background-color: var(--burnt-umber);
    z-index: 10;
    border-width: 0.5rem;
    box-shadow: 0 1px 2px 1px rgb(231, 176, 143, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
}

.logo{
    display: flex;
    transform:translate(-10px,10px);
}

.logo img{
    position: relative;
    top: -100px;
    animation-name: fall;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transform: translateY(8px);
}

.home-navlink{
    width: 100%;
    margin: auto;
    text-shadow: 1px 1px 2px black;
    padding-left: 10px;
}

.home-navlink a{
    text-decoration: none;
    align-items: center;
    color:var(--buff);
}

.side-navlinks{
    justify-content: right;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-shadow: 2px 2px 2px black;
}

.side-navlinks a {
    text-decoration: none;
    color: var(--buff);
    justify-content: space-evenly;
    margin-right: 40px;
}

#mobile-navlinks a{
    text-decoration: none;
    color: black !important;
}

#dropdown-button{
    color: var(--buff) !important;
}


#searchbar{
    z-index: 100;
}
.navlink:hover {
    color: var(--bone);
    border: 2px solid var(--bone);
    /* Change to your desired color on hover */
}

  /* --garnet: #7E3035ff;
  --liver: #62443Aff;
  --buff: #E7B08Fff;
  --burnt-umber: #7F2F2Aff;
  --beaver: #977C69ff; */

  .navlink{
    margin-right: 10px;
    padding: 10px;
    border: 2px solid var(--garnet);
  }

.navlink-text-large{
    font-family: 'Tangerine', cursive;
  }

.mobile-typography{
    transform: translateX(-10px);
}

@keyframes fall {
    0% {
        top: -100px;
    }

    100% {
        top: 0;
    }
}