.single-student-page::before {    
    content: "";
    background-image: url(../hallway-with-bag-floor.jpg);
    height:100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
    z-index: -1;
}

.student-profile-container{
    display: inline-block;
    position: relative;
    padding: 0 5%;
    animation-name: slideright;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transition: 500ms ease-in-out;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px 4px var(--dark-green);
    padding: 1rem;
    margin: 20px 25px;
    background-image: radial-gradient(rgba(64, 145, 109, 0.502), rgba(127, 48, 42, 0.401));
    width: 350px;
}

.edit-student-form-container{
    display:inline-block;
    position: relative;
    margin-bottom: 20px;
    margin: 10px 20px;
    /* background-image: radial-gradient(rgba(64, 145, 109, 0.183), rgba(127, 48, 42, 0.178)); */
    background-image: linear-gradient(rgba(128, 128, 128, 0.133), rgba(255, 255, 255, 0.113), rgba(128, 128, 128, 0.136));
    border-radius: 1rem;
    padding: 0.8rem;
    visibility: hidden;
    position: relative;
    bottom: 1rem;
    font-family:'Manrope','sans-serif';
    text-shadow: 2px 2px 2px grey;
}

.animate{
    animation-name: slideleft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}

.header{
    position: relative;
    text-shadow: 1px 2px 2px var(--beaver);
    margin: 30px;
    font-size: 2.5rem;
    border-bottom: 4px solid black;
    font-family: 'Ysabeau Infant', 'sans-serif';
    font-weight: '700';
    font-size: 2.2rem;
    text-shadow: 2px 2px 2px grey;
}
.ss-body-card{
    font-family:'Manrope','sans-serif';
    font-weight: 500;
    text-shadow: 2px 2px 2px grey;
}

.ss-student-image{
    width: 180px;
    height: 140px;
    border-radius: 2rem;
    margin: -10px;
}

.ss-email-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height: fit-content;
    margin: 0 auto;
    position: relative;
    top: 15px;

}

.ss-email-container:hover{
    transition: 300ms ease;
    color: var(--dartmouth-green);
    cursor: pointer;
}

.ss-gpa-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height: fit-content;
    margin: 0 auto;
    position: relative;

}

.ss-gpa-container:hover{
    transition: 300ms ease;
    color: var(--dartmouth-green);
    cursor: pointer;
}

.ss-campus-container{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width:fit-content;
    height: fit-content;
    margin: 0 auto;
    position: relative;
    bottom: 15px;
}

.ss-campus-container:hover{
    transition: 300ms ease;
    color: var(--dartmouth-green);
    cursor: pointer;
}


.card-enrolled-campus{
    font-family:'Manrope','sans-serif';
    font-weight: 900;
    text-shadow: 2px 2px 2px grey;
}


#btn-form-edit-student{
    background-image: linear-gradient(rgb(177, 96, 96), var(--burnt-umber),rgb(177, 96, 96));
    color: var(--bone);
    border: rgba(196, 97, 97, 0.296) 3px solid;
    box-shadow: 4px 4px 4px black;
    text-shadow: 1px 2px 2px black;
    font-size: 15px;
    font-family: 'Helvetica Neue';
    font-weight: 700;
    width: 150px;
    position: relative;
    top: 10px;
    /* transition: 400ms ease; */
}

#btn-form-edit-student:hover{
    box-shadow: 3px 3px 3px black;
    background-image: linear-gradient(rgb(88, 176, 137), var(--dartmouth-green), rgb(88, 170, 133));
    border: rgba(13, 81, 38, 0.296) 3px solid;
    transition: 400ms ease;
}

#profile-btn{
    color: var(--burnt-umber);
    position: relative;
    width: 3rem;
}

#profile-btn:hover{
    color: var(--dartmouth-green);
    transition: 300ms ease-in-out;
}

.ss-card-email:hover{
    color: var(--dartmouth-green);
    transition: 400ms ease;
    cursor: pointer;
}    

@keyframes slideleft {
    0% {
        visibility: visible;
        /* right: -600px; */
        right: -40%;
    }

    100% {
        visibility: visible;
        right: 0px;
    }
}

@keyframes slideright {
    0% {
        left: -400px;
    }

    100% {
        left: 0px;
    }
}

@media only screen and (max-width: 985px) {
    .edit-student-form-container{
        visibility: visible;
    }

    @keyframes slideleft {
    }
    
    @keyframes slideright {
    }


  }

  @media only screen and (max-width: 490px) {
    .student-profile-container{
        width: 75%;
    }
  }

