.single-student-page::before {    
    content: "";
    background-image: url(../hallway-with-bag-floor.jpg);
    height:100vh;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: -1;
}

.student-profile-container{
    display: inline-block;
    position: relative;
    padding: 0 5%;
    animation-name: slideright;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transition: 500ms ease-in-out;
    border: 3px solid var(--burnt-umber);
    border-radius: 1rem;
    box-shadow: 1px 1px 5px 5px rgb(61, 59, 59);
    padding: 1rem;
    margin: 20px 25px;
    background-image: linear-gradient(rgba(222, 218, 199, 0.347), var(--bone),rgba(222, 218, 199, 0.342));
    width: 330px;
}

.edit-student-form-container{
    display:inline-block;
    position: relative;
    /* animation-name: slideleft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; */
    margin-bottom: 20px;
    margin: 10px 25px;
    background-image: linear-gradient(rgba(222, 218, 199, 0.347), var(--bone),rgba(222, 218, 199, 0.342));
    border-radius: 1rem;
    padding: 0.8rem;
    visibility: hidden;
}

.animate{
    animation-name: slideleft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}

.header{
    position: relative;
    text-shadow: 1px 2px 2px var(--beaver);
    margin: 30px;
    font-size: 2.5rem;
}

#btn-form-edit-student{
    background-image: linear-gradient(rgb(177, 96, 96), var(--burnt-umber),rgb(177, 96, 96));
    color: var(--bone);
    border: rgba(196, 97, 97, 0.296) 3px solid;
    box-shadow: 4px 4px 4px black;
    text-shadow: 1px 2px 2px black;
    font-size: 15px;
    font-family: 'Helvetica Neue';
    font-weight: 700;
    width: 150px;
    position: relative;
    top: 10px;
    /* transition: 400ms ease; */
}

#btn-form-edit-student:hover{
    box-shadow: 3px 3px 3px black;
    background-image: linear-gradient(rgb(88, 176, 137), var(--dartmouth-green), rgb(88, 170, 133));
    border: rgba(13, 81, 38, 0.296) 3px solid;
    transition: 400ms ease;
}

#profile-btn{
    color: var(--burnt-umber);
    position: relative;
}

#profile-btn:hover{
    color: var(--dartmouth-green);
    transition: 300ms ease-in-out;
}

@keyframes slideleft {
    0% {
        visibility: visible;
        /* right: -600px; */
        right: -50%;
    }

    100% {
        visibility: visible;
        right: 0px;
    }
}

@keyframes slideright {
    0% {
        left: -400px;
    }

    100% {
        left: 0px;
    }
}

@media only screen and (max-width: 971px) {
    .edit-student-form-container{
        visibility: visible;
    }

    @keyframes slideleft {
    }
    
    @keyframes slideright {
    }


  }

