* {
  --garnet: #7E3035ff;
  --liver: #62443Aff;
  --buff: #E7B08Fff;
  --burnt-umber: #7F2F2Aff;
  --beaver: #977C69ff;
  max-width: 100%;
  max-height: 100vh;
}

.App {
  text-align: center;
  overflow: auto;
}

.App-link {
  color: #61dafb;
}

.Navbar-link{
  color: var(--liver);
}
