*{
  --garnet: #7E3035ff;
  --liver: #62443Aff;
  --buff: #E7B08Fff;
  --burnt-umber: #7F2F2Aff;
  --beaver: #977C69ff;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    bottom: 0;
    height: 100v;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: var(--burnt-umber);
  }

  button {
    background-color: var(--beaver);
  }
}